h1.judul {
  font-size: 30px !important;
  color: #000000 !important;
}

h1.judul {
  font-size: 40px;
  color: #02de3d;
}

h1.judul {
  font-size: 50px;
  color: #02de3d;
}

button {
  font-size: 35px;
  color: #a69307;
}
